<header>
    <div class="container">
        <div class="logo-container">
            <div class="author">
              sergio brocos
            </div>
            <div class="sub-author">
                web [backend] developer
            </div>
        </div>
        <ul class="menu-lateral">
            <li><a class="navbar-item" href="/">Home</a></li>
            <li><a class="navbar-item" href="/blog">Blog</a></li>
            <li><a class="navbar-item" href="/about">About</a></li>
        </ul>
    </div>
</header>

