<div class="sidebar">
  <div class="panel layout">
    <div class="panel-heading">Sergio Brocos</div>
    <div class="panel-body">
      <p class="subtitle">Desarrollador FullStack Ruby On Rails</p>
      <p>Mi motivación es mejorar siempre como profesional, ser creativo, resolutivo, imaginativo, buscar mejores metodologías, avanzar, siempre avanzar.</p>
      <div class="social_icons">
        <div class="row">
          <div class="col">
            <a href='https://es.linkedin.com/in/sbrocos' target="_blank"> <i class="fa fa-linkedin"></i> </a>
          </div>
          <div class="col">
            <a href='https://plus.google.com/+SergioBrocos' target="_blank"> <i class="fa fa-google-plus"></i> </a>
          </div>
          <div class="col">
            <a href='https://github.com/sbrocos' target="_blank"> <i class="fa fa-github"></i> </a>
          </div>
          <div class="w-100"></div>
        </div>
      </div>
    </div>
  </div>
</div>

