---
layout: default
---
<div class="breadcrumb">
    <a href="/" class="fa_button breadcrumb-item">
        <i class="fa fa-home "></i>
        <span>home</span>
    </a>
    <a href="/" class="fa_button breadcrumb-item" disabled>
        <span>about me</span>
    </a>
</div>


<div class="page">

    <div class="page_title">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="page_date">
        <p>{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
    <div class="page_meta">
        <p>{{ tags_content }}</p>
    </div>
    <div class="page_content"?>
        {{ content }}
    </div>
</div>
